html, body{
        margin:0 auto;
        padding: 0;
     
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
}
header{
    margin: 0 auto;
    padding: 0;
    width: 75%;
    height: 180px;
    overflow: hidden;
    background-color: #728ba8;
}
/*change color target a*/
nav{
    margin-left: auto;
    width: 90%;
}

li{
    display: inline-block;
    overflow: hidden;
    list-style-type:none;
    color: #ffffff;
    font-size: 18px;
    margin: 5px;
    padding: 15px; 

}
/*changed color in menu text*/
#menu1{
    color: #ffffff;   
}
#menu2{ 
    color: #ffffff;
}
#menu3{ 
    color: #ffffff;
}
#menu4{ 
    color: #ffffff;
}
#menu5{ 
    color: #ffffff;
}
#menu6{ 
    color: #ffffff;
}
#menu7{ 
    color: #ffffff;
}
/*
a{ 
    color: white;
*/
}
#top_menu{
    color:#ffffff;
    display: block;
    font-size: 14px;
    padding: 0;
    margin: 0;

}
.nav_menu{
    display: block;
    color: #f1f1f1;    
    
}
#image{
    
    margin: 0 auto;
    display: block;
    width:80%;
    height: 470px;
        
}

main{
    margin: 0 auto;
    padding: 0;
    width: 80%;
    height:800px;
    background-color: #ffffff;
    display: block;
    
    box-sizing: border-box;
}

#image{
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 100%;
    height:;
}
#_text1{
    
    display: block;
    width:100%;
    height: auto;
    background-color: ghostwhite;
}

.floating-box {
    text-align: left;
    display: inline-block;
    width: 80%;
    height: 75px;
    margin: 10px;
    padding-left: 2px;
    font-size: 13px;
    
}
#float1{
    margin: 0 auto;
    padding: 0;
    float:left;
    width:calc(80%/3);
    height: 240px
}
#float2{
    margin: 0 auto;
    padding: 0;
    float:left;
    width:calc(80%/3);
    height: 240px
}
#float3{
    margin: 0 auto;
    padding: 0;
    float:left;
    width:calc(80%/3);
    height: 240px
}
/*
#box1{
    margin: 0;
    padding: 0;
    width: calc(100%/3);
    height:;
    float: left;
    background-color: antiquewhite

}

#box2{
    margin: 0;
    padding: 0;
    width:calc(100%/3);
    height: ;
    float: left;
    background-color: antiquewhite
}
#box3{
    margin: 0;
    padding: 0;
    width: calc(100%/3);
    height: ;
    float: left;
background-color: antiquewhite;}
    
*/

#row_two{
    box-sizing: border-box;
    margin:0 auto;
    padding:0;
    width:100%;
    height:80%;
    font-size:15px;
    text-align: left;
    
}

#row_two_column_one{
    box-sizing: border-box;
    margin:0;
    padding-left:40px;
    padding-right:40px;
    float:left;
    width:calc(100%/3);
    height: 100%;
    
}

#row_two_column_two{
    box-sizing: border-box;
    margin:0;
    padding-left:40px;
    padding-right:40px;
    float: left;
    width:calc(100%/3);
    height: 100%;
    
}

#row_two_column_three{
    box-sizing: border-box;
    margin:0;
    padding-left:40px;
    padding-right:40px;
    float: right;
    width:calc(100%/3);
    height: 100%; 
    
}

#boldface_one{
    font-weight: 800;
}

#boldface_two{
    font-weight: 800;
}

#footer_text_two{
    float: right;
    margin:0;
    padding: 0;
    
}

#footer_text_one_margin{
    margin-top: 2px;
    margin-bottom: 20px;
    margin-left: 5px;
}

#footer_text_two_margin{
    margin-top:5px;
    margin-bottom: 20px;
    margin-right: 5px;
}